@font-face {
  font-family: 'NotoSansEgyptianHieroglyphs';
  src:
    url('/assets/NotoSansEgyptianHieroglyphs.woff2') format('woff2'),
    url('/assets/NotoSansEgyptianHieroglyphs.woff') format('woff'),
    url('/assets/NotoSansEgyptianHieroglyphs.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

#app {
  position: relative;
  height: 100%;
  padding-left: max(1rem, env(safe-area-inset-left));
  padding-right: max(1rem, env(safe-area-inset-right));
}

button,
select {
  font-size: 16px;
}

.header__3QGkI {
  position: relative;
  width: 100%;
  padding: 0;
  text-align: center;
}

.header__3QGkI h1 {
  margin: 0;
  padding: 0 15px;
  line-height: 56px;
}

.header__3QGkI nav {
  font-size: 100%;
}

.header__3QGkI nav a {
  display: inline-block;
  padding: 0 15px;
  min-width: 50px;
  text-align: center;
  text-decoration: none;
}

.header__3QGkI nav a:hover,
.header__3QGkI nav a:active {
  /* background: rgba(0,0,0,0.2); */
}

.header__3QGkI nav a.active__3gItZ {
  /* background: rgba(0,0,0,0.4); */
}

.container__MrR2u {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgb(58, 200, 185) 0%, rgb(141, 213, 152) 20%, rgb(224, 227, 119) 40%, rgb(255, 232, 107) 100%);
}

.pyramid1__rtM4E {
  position: absolute;
  top: -15vh;
  left: 1vh;
  height: 20vh;
  width: 40vh;
  background-image: url('/assets/Game_Assets_13-08.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.pyramids__v7Qar {
  position: absolute;
  top: -5.5vh;
  left: 100vh;
  height: 9vh;
  width: 40vh;
  background-image: url('/assets/Game_Assets_13-03.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.camel1__1-LPa {
  position: absolute;
  top: 1vh;
  left: 100vh;
  height: 2vh;
  width: 3vh;
  background-image: url('/assets/Game_Assets_13-12.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.75;
}

.sand__Sa44F {
  position: absolute;
  bottom: 0;
  height: 50vh;
  width: 100%;
  background-image: url('/assets/Game_Assets_13-07.png');
  background-size: auto 100%;
  background-repeat: repeat-x;
}

.home__MseGd {
  position: relative;
  z-index: 2;
  margin: 2rem auto;
  width: 100%;
}

.storycomposer__d7MRf {
  margin: 0.5rem auto;
  max-width: 800px;
  text-align: center;
}

.chart__37oUI {
  margin: 0.5rem auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(239, 239, 239, 0.58);
  max-width: 800px;
  text-align: center;
}

.categoryselector__TWRvG {
  width: 100%;
  margin-bottom: 1rem;
}

.hieroglyph__TTQoI {
  display: inline-block;
  font-family: 'NotoSansEgyptianHieroglyphs';
  font-size: 2rem;
  padding: 0.25rem;
  margin: 0.25rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: bold;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background: none;
}

.hieroglyph__TTQoI:hover,
.hieroglyph__TTQoI:focus {
  transform: scale(1.8);
}

.storyboard__1DR4y {
  margin: 0.5rem auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(239, 239, 239, 0.58);
  max-width: 800px;
  min-height: 84px;
  text-align: center;
}

.storyboard__1DR4y p {
  line-height: 1.5em;
}

.about__3Ycn6 {
  position: relative;
  z-index: 2;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: rgba(239, 239, 239, 0.58);
  max-width: 500px;
}

.about__3Ycn6 h2 {
  margin-bottom: 1rem;
}

.about__3Ycn6 p {
  margin-bottom: 0.5rem;
}

.story__3ghT0 {
  position: relative;
  z-index: 2;
  margin: 2rem auto;
  width: 100%;
}


/*# sourceMappingURL=ssr-bundle.2d87a.css.map*/