.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(top, rgb(58, 200, 185) 0%, rgb(141, 213, 152) 20%, rgb(224, 227, 119) 40%, rgb(255, 232, 107) 100%);
  background: -o-linear-gradient(top, rgb(58, 200, 185) 0%, rgb(141, 213, 152) 20%, rgb(224, 227, 119) 40%, rgb(255, 232, 107) 100%);
  background: -ms-linear-gradient(top, rgb(58, 200, 185) 0%, rgb(141, 213, 152) 20%, rgb(224, 227, 119) 40%, rgb(255, 232, 107) 100%);
  background: -moz-linear-gradient(top, rgb(58, 200, 185) 0%, rgb(141, 213, 152) 20%, rgb(224, 227, 119) 40%, rgb(255, 232, 107) 100%);
  background: linear-gradient(to bottom, rgb(58, 200, 185) 0%, rgb(141, 213, 152) 20%, rgb(224, 227, 119) 40%, rgb(255, 232, 107) 100%);
}

.pyramid1 {
  position: absolute;
  top: -15vh;
  left: 1vh;
  height: 20vh;
  width: 40vh;
  background-image: url('/assets/Game_Assets_13-08.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.pyramids {
  position: absolute;
  top: -5.5vh;
  left: 100vh;
  height: 9vh;
  width: 40vh;
  background-image: url('/assets/Game_Assets_13-03.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.camel1 {
  position: absolute;
  top: 1vh;
  left: 100vh;
  height: 2vh;
  width: 3vh;
  background-image: url('/assets/Game_Assets_13-12.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.75;
}

.sand {
  position: absolute;
  bottom: 0;
  height: 50vh;
  width: 100%;
  background-image: url('/assets/Game_Assets_13-07.png');
  background-size: auto 100%;
  background-repeat: repeat-x;
}
